<% provide(:title, "ログイン") %>
<span class="center"><h1>ログイン</h1></span>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>
      <br />
      <%= f.submit "ログイン", class: "btn btn-black" %>
    <% end %>

    <p><%= link_to "新規登録", signup_path %></p>
  </div>
</div>
