<% provide(:title, 'ピック') %>
<span class="center"><h1>Sign up</h1></span>

<div class="pick_new">

    <%= form_tag('/articles', :method => :post) do %>
      <%= label_tag(:url, "url") %>
      <%= text_field_tag(:url) %>

      <%= label_tag(:status, "カテゴリー") %>
      <%= select_tag :status, options_for_select(Article.statuses.keys.to_a) %>

      <%= submit_tag("記事をピック", class: "btn btn-black") %>
    <% end %>

</div>
